In [219]:
import numpy as np
import pandas as pd
import fancyimpute
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegressionCV
from sklearn.cluster import KMeans
from sklearn.svm import SVC
import xgboost as xgb

In [109]:
df = pd.read_csv("data/full2.csv")
# Examine head of data
df.head()

,Year,Name,Position,Round,Pick,College,Conference,Games,Seasons,Height,...,PR.TD,KRs,KR.Yds,KR.TD,XPA,XP.,FGA,FG.,Punts,Punt.Avg
0,2008,Husain Abdullah,FS,0,0,Small,Pac-10,45,4,72,...,0,0,0,0,0,0.0,0,0.0,0,0.0
1,2008,Jamar Adams,SS,0,0,Michigan,Big Ten,38,3,74,...,0,0,0,0,0,0.0,0,0.0,0,0.0
2,2008,Xavier Adibi,OLB,4,118,Virginia Tech,ACC,47,4,74,...,0,0,0,0,0,0.0,0,0.0,0,0.0
3,2008,Erik Ainge,QB,5,162,Tennessee,SEC,43,4,77,...,0,0,0,0,0,0.0,0,0.0,0,0.0
4,2008,Branden Albert,OG,1,15,Virginia,ACC,0,0,78,...,0,0,0,0,0,0.0,0,0.0,0,0.0

In [110]:
# We know that combine data is missing, so let's impute it.
imp = df[["Position", "Height", "Weight", "X40.Yard", "Bench", "Broad.Jump", "Shuttle", "X3.Cone", "Vertical"]]
imp=imp.replace({0:np.nan})
number = LabelEncoder()
imp["Position"] = number.fit_transform(imp["Position"])
imp=fancyimpute.KNN(k=5).complete(imp)
imp = pd.DataFrame(imp)
imp.columns = ["Position", "Height", "Weight", "X40.Yard", "Bench", "Broad.Jump", "Shuttle", "X3.Cone", "Vertical"]
imp = imp.round({"X40.Yard": 2, "Bench": 0, "Broad.Jump": 0, "X3.Cone": 2, "Shuttle": 2})
imp["Vertical"] = round(imp["Vertical"] * 2) / 2
df[["Height", "Weight", "X40.Yard", "Bench", "Broad.Jump", "Shuttle", "X3.Cone", "Vertical"]] = imp.drop("Position", axis=1)

Imputing row 1/3151 with 1 missing, elapsed time: 1.772
Imputing row 101/3151 with 0 missing, elapsed time: 1.776
Imputing row 201/3151 with 0 missing, elapsed time: 1.782
Imputing row 301/3151 with 0 missing, elapsed time: 1.782
Imputing row 401/3151 with 1 missing, elapsed time: 1.792
Imputing row 501/3151 with 0 missing, elapsed time: 1.792
Imputing row 601/3151 with 0 missing, elapsed time: 1.802
Imputing row 701/3151 with 0 missing, elapsed time: 1.802
Imputing row 801/3151 with 5 missing, elapsed time: 1.812
Imputing row 901/3151 with 0 missing, elapsed time: 1.816
Imputing row 1001/3151 with 0 missing, elapsed time: 1.816
Imputing row 1101/3151 with 0 missing, elapsed time: 1.822
Imputing row 1201/3151 with 1 missing, elapsed time: 1.822
Imputing row 1301/3151 with 0 missing, elapsed time: 1.832
Imputing row 1401/3151 with 5 missing, elapsed time: 1.832
Imputing row 1501/3151 with 1 missing, elapsed time: 1.842
Imputing row 1601/3151 with 3 missing, elapsed time: 1.842
Imputing row 1701/3151 with 0 missing, elapsed time: 1.852
Imputing row 1801/3151 with 2 missing, elapsed time: 1.852
Imputing row 1901/3151 with 2 missing, elapsed time: 1.862
Imputing row 2001/3151 with 0 missing, elapsed time: 1.862
Imputing row 2101/3151 with 4 missing, elapsed time: 1.872
Imputing row 2201/3151 with 1 missing, elapsed time: 1.872
Imputing row 2301/3151 with 0 missing, elapsed time: 1.882
Imputing row 2401/3151 with 0 missing, elapsed time: 1.882
Imputing row 2501/3151 with 1 missing, elapsed time: 1.892
Imputing row 2601/3151 with 6 missing, elapsed time: 1.892
Imputing row 2701/3151 with 5 missing, elapsed time: 1.902
Imputing row 2801/3151 with 6 missing, elapsed time: 1.902
Imputing row 2901/3151 with 0 missing, elapsed time: 1.912
Imputing row 3001/3151 with 2 missing, elapsed time: 1.922
Imputing row 3101/3151 with 0 missing, elapsed time: 1.925

In [111]:
# Impute missing games and season values
imp = df[["Position", "Games", "Seasons"]]
imp=imp.replace({0:np.nan})
imp["Position"] = number.fit_transform(imp["Position"])
imp=fancyimpute.KNN(k=10).complete(imp)
imp = pd.DataFrame(imp)
imp = imp.round(0)
df[["Games", "Seasons"]] = imp.drop(0, 1)

Imputing row 1/3151 with 0 missing, elapsed time: 1.294
Imputing row 101/3151 with 0 missing, elapsed time: 1.294
Imputing row 201/3151 with 2 missing, elapsed time: 1.294
Imputing row 301/3151 with 0 missing, elapsed time: 1.298
Imputing row 401/3151 with 0 missing, elapsed time: 1.298
Imputing row 501/3151 with 0 missing, elapsed time: 1.298
Imputing row 601/3151 with 2 missing, elapsed time: 1.298
Imputing row 701/3151 with 0 missing, elapsed time: 1.302
Imputing row 801/3151 with 0 missing, elapsed time: 1.302
Imputing row 901/3151 with 0 missing, elapsed time: 1.302
Imputing row 1001/3151 with 0 missing, elapsed time: 1.302
Imputing row 1101/3151 with 0 missing, elapsed time: 1.306
Imputing row 1201/3151 with 0 missing, elapsed time: 1.306
Imputing row 1301/3151 with 0 missing, elapsed time: 1.306
Imputing row 1401/3151 with 0 missing, elapsed time: 1.306
Imputing row 1501/3151 with 0 missing, elapsed time: 1.310
Imputing row 1601/3151 with 0 missing, elapsed time: 1.310
Imputing row 1701/3151 with 0 missing, elapsed time: 1.310
Imputing row 1801/3151 with 0 missing, elapsed time: 1.310
Imputing row 1901/3151 with 0 missing, elapsed time: 1.314
Imputing row 2001/3151 with 0 missing, elapsed time: 1.314
Imputing row 2101/3151 with 0 missing, elapsed time: 1.314
Imputing row 2201/3151 with 0 missing, elapsed time: 1.318
Imputing row 2301/3151 with 0 missing, elapsed time: 1.318
Imputing row 2401/3151 with 0 missing, elapsed time: 1.318
Imputing row 2501/3151 with 0 missing, elapsed time: 1.322
Imputing row 2601/3151 with 0 missing, elapsed time: 1.322
Imputing row 2701/3151 with 0 missing, elapsed time: 1.322
Imputing row 2801/3151 with 0 missing, elapsed time: 1.322
Imputing row 2901/3151 with 0 missing, elapsed time: 1.326
Imputing row 3001/3151 with 0 missing, elapsed time: 1.326
Imputing row 3101/3151 with 0 missing, elapsed time: 1.326

# Fix Position Data

In [112]:
# Let's get some information about the positions.
df.groupby("Position").size()

Position
C        96
CB      342
DB        2
DE      246
DT      247
EDGE     19
FB       45
FS      102
ILB     153
K        46
LB        2
LS       14
NT        3
OG      125
OL        2
OLB     241
OT      175
P        60
QB      177
RB      295
S        24
SS      110
TE      166
WR      459
dtype: int64

In [113]:
df[df.Position=="DB"]

,Year,Name,Position,Round,Pick,College,Conference,Games,Seasons,Height,...,PR.TD,KRs,KR.Yds,KR.TD,XPA,XP.,FGA,FG.,Punts,Punt.Avg
2954,2018,Minkah Fitzpatrick,DB,1,11,Alabama,SEC,42.0,3.0,73.0,...,0,1,16,1,0,0.0,0,0.0,0,0.0
3039,2018,Quenton Meeks,DB,0,0,Stanford,Pac-12,36.0,3.0,74.0,...,0,0,0,0,0,0.0,0,0.0,0,0.0

In [114]:
# Fitzpatrick will play mostly as a free safety and Meeks as a CB.
df.at[2954, "Position"] = "FS"
df.at[3039, "Position"] = "CB"

In [115]:
df[df.Position=="OL"]

,Year,Name,Position,Round,Pick,College,Conference,Games,Seasons,Height,...,PR.TD,KRs,KR.Yds,KR.TD,XPA,XP.,FGA,FG.,Punts,Punt.Avg
3030,2018,Cole Madison,OL,0,0,Small,Pac-12,40.0,4.0,77.0,...,0,0,0,0,0,0.0,0,0.0,0,0.0
3073,2018,Martinas Rankin,OL,3,80,Small,SEC,41.0,4.0,76.0,...,0,0,0,0,0,0.0,0,0.0,0,0.0

In [116]:
# Madison is a guard and Rankin is a tackle.
df.at[3030, "Position"] = "OG"
df.at[3073, "Position"] = "OT"

In [117]:
df.loc[df.Position=="LB", "Position"] = "OLB"
df.loc[df.Position=="NT", "Position"] = "DT"

In [118]:
# We next need to divide free safeties and strong safeties in our 2018 data. Let's
# examine what our safeties look like in our data. Let's use a simple logistic
# regression model based on Height, Weight, Total Tackles, and Interceptions.
s = df[(df.Position=="FS") | (df.Position=="SS")]
s = s[["Position", "Height", "Weight", "Total.Tackles", "Int", "Sacks"]]
s.head()
s_predict = LogisticRegressionCV()
s_predict.fit(s.drop("Position", 1), s.Position)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
           refit=True, scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

In [119]:
safeties = df[df.Position=="S"]
df.loc[safeties.index, "Position"] = s_predict.predict(safeties[["Height", "Weight", "Total.Tackles", "Int", "Sacks"]])

In [120]:
# Let's do the same for edge rushers, forecasting their position by height and weight differences,
# as well as total tackles
outside = df[(df.Position=="OLB") | (df.Position=="DE")]
outside = outside[["Position", "Height", "Weight", "Total.Tackles"]]
outside.head()
edge_predict = LogisticRegressionCV()
edge_predict.fit(outside.drop("Position", 1), outside.Position)
edge = df[df.Position=="EDGE"]
df.loc[edge.index, "Position"] = edge_predict.predict(edge[["Height", "Weight", "Total.Tackles"]])

# Exploratory Analysis

In [152]:
# All of our "hybrid" positions have been dealt with. Let's now examine preliminary trends.
round_info = pd.crosstab(index=df["Position"], columns=df["Round"], margins=True) 
round_info / round_info.loc["All"]

Round,0,1,2,3,4,5,6,7,All
Position,,,,,,,,,
C,0.034156,0.023669,0.028481,0.026549,0.039275,0.013699,0.035714,0.034934,0.030467
CB,0.083491,0.130178,0.136076,0.147493,0.108761,0.136986,0.095238,0.078603,0.108854
DE,0.062619,0.121302,0.094937,0.097345,0.075529,0.051370,0.083333,0.096070,0.080292
DT,0.063567,0.100592,0.104430,0.109145,0.063444,0.065068,0.075397,0.087336,0.079340
FB,0.018027,0.000000,0.000000,0.002950,0.012085,0.023973,0.019841,0.039301,0.014281
FS,0.044592,0.026627,0.037975,0.038348,0.030211,0.037671,0.043651,0.026201,0.037766
ILB,0.052182,0.026627,0.047468,0.038348,0.057402,0.061644,0.051587,0.048035,0.048556
K,0.032258,0.000000,0.003165,0.000000,0.003021,0.013699,0.011905,0.013100,0.014599
LS,0.008539,0.000000,0.000000,0.000000,0.000000,0.003425,0.015873,0.000000,0.004443
OG,0.034156,0.038462,0.031646,0.047198,0.045317,0.065068,0.039683,0.030568,0.039987
OLB,0.063567,0.085799,0.098101,0.088496,0.108761,0.095890,0.067460,0.074236,0.080927
OT,0.033207,0.118343,0.069620,0.064897,0.051360,0.065068,0.027778,0.061135,0.055855
P,0.043643,0.000000,0.000000,0.002950,0.000000,0.017123,0.023810,0.008734,0.019042
QB,0.064516,0.091716,0.034810,0.038348,0.042296,0.041096,0.067460,0.048035,0.056173
RB,0.104364,0.068047,0.085443,0.067847,0.102719,0.095890,0.119048,0.087336,0.093621
SS,0.040797,0.029586,0.031646,0.017699,0.048338,0.041096,0.027778,0.061135,0.037448
TE,0.045541,0.026627,0.056962,0.073746,0.060423,0.054795,0.051587,0.074236,0.052682
WR,0.170778,0.112426,0.139241,0.138643,0.151057,0.116438,0.142857,0.131004,0.145668
All,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

As can be seen, there are a relatively high proportion of WRs, OTs, CBs, DEs, and DTs in the first round. In later rounds, More RBs and skill positions are taken. Let's now examine the proportions of rounds each position is typically drafted in.

In [154]:
round_info = pd.crosstab(index=df["Position"], columns=df["Round"], margins=True) 
round_info.div(round_info["All"], axis=0)

Round,0,1,2,3,4,5,6,7,All
Position,,,,,,,,,
C,0.375000,0.083333,0.093750,0.093750,0.135417,0.041667,0.093750,0.083333,1.0
CB,0.256560,0.128280,0.125364,0.145773,0.104956,0.116618,0.069971,0.052478,1.0
DE,0.260870,0.162055,0.118577,0.130435,0.098814,0.059289,0.083004,0.086957,1.0
DT,0.268000,0.136000,0.132000,0.148000,0.084000,0.076000,0.076000,0.080000,1.0
FB,0.422222,0.000000,0.000000,0.022222,0.088889,0.155556,0.111111,0.200000,1.0
FS,0.394958,0.075630,0.100840,0.109244,0.084034,0.092437,0.092437,0.050420,1.0
ILB,0.359477,0.058824,0.098039,0.084967,0.124183,0.117647,0.084967,0.071895,1.0
K,0.739130,0.000000,0.021739,0.000000,0.021739,0.086957,0.065217,0.065217,1.0
LS,0.642857,0.000000,0.000000,0.000000,0.000000,0.071429,0.285714,0.000000,1.0
OG,0.285714,0.103175,0.079365,0.126984,0.119048,0.150794,0.079365,0.055556,1.0
OLB,0.262745,0.113725,0.121569,0.117647,0.141176,0.109804,0.066667,0.066667,1.0
OT,0.198864,0.227273,0.125000,0.125000,0.096591,0.107955,0.039773,0.079545,1.0
P,0.766667,0.000000,0.000000,0.016667,0.000000,0.083333,0.100000,0.033333,1.0
QB,0.384181,0.175141,0.062147,0.073446,0.079096,0.067797,0.096045,0.062147,1.0
RB,0.372881,0.077966,0.091525,0.077966,0.115254,0.094915,0.101695,0.067797,1.0
SS,0.364407,0.084746,0.084746,0.050847,0.135593,0.101695,0.059322,0.118644,1.0
TE,0.289157,0.054217,0.108434,0.150602,0.120482,0.096386,0.078313,0.102410,1.0
WR,0.392157,0.082789,0.095861,0.102397,0.108932,0.074074,0.078431,0.065359,1.0
All,0.334497,0.107268,0.100286,0.107585,0.105046,0.092669,0.079975,0.072675,1.0

At least 1/3 of players in most positions are undrafted; OTs have a significantly low amount undrafted, however. Most OTs are picked in the first round, with mostly decreasing numbers after that. We can see that positions such as kickers, punters, and fullbacks are primarily drafted in the late rounds.

# Simple Regression

In [204]:
all_X = df.drop(["Name", "Round", "Pick", "College", "Conference"], 1)
all_X = pd.get_dummies(all_X)

train_X = all_X[(all_X.Year != 2018)].drop("Year", 1)
test_X = all_X[all_X.Year == 2018].drop("Year", 1)
train_y = df[(df.Year != 2018)].Round
test_y = df[df.Year == 2018].Round

In [205]:
log = LogisticRegressionCV()
log.fit(train_X, train_y)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
           refit=True, scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

In [217]:
count = 1
for i in pd.DataFrame(log.predict_proba(test_X)).sort_values(by=1, ascending=False).index:
    print(str(count) + " " + str(df[df.Year==2018].reset_index().at[i, "Name"]))
    count += 1

1 Quinton Flowers
2 James Washington
3 Lamar Jackson
4 Darius Phillips
5 Rashaad Penny
6 Vita Vea
7 Genard Avery
8 Nick Chubb
9 D.J. Reed
10 Saquon Barkley
11 Ogbonnia Okoronkwo
12 Parry Nickerson
13 Will Hernandez
14 Harold Landry
15 Dominick Sanders
16 Baker Mayfield
17 Braden Smith
18 Courtland Sutton
19 Jojo Wicker
20 Hercules Mata'afa
21 Tim Settle
22 Quenton Nelson
23 Kylie Fitts
24 Sam Darnold
25 Dane Cruikshank
26 Wyatt Teller
27 Harrison Phillips
28 Cedrick Wilson
29 Tegray Scales
30 Andre Chachere
31 Malik Jefferson
32 Tyquan Lewis
33 Anthony Miller
34 Josh Jackson
35 J.T. Barrett
36 Rashard Fant
37 Minkah Fitzpatrick
38 Leighton Vander esch
39 Isaiah Wynn
40 Mike Hughes
41 Deshon Elliott
42 Duke Ejiofor
43 Avonte Maddox
44 Deadrin Senat
45 Jordan Akins
46 Trevon Young
47 Jester Weah
48 Christian Kirk
49 Logan Woodside
50 Taven Bryan
51 Salesi Uhatafe
52 Josh Rosen
53 Bradley Chubb
54 Duke Dawson
55 Ian Thomas
56 Kendrick Norton
57 Danny Etling
58 Josh Allen
59 Jordan Thomas
60 Joshua Kalu
61 Justin Jones
62 Colby Gossett
63 Lowell Lotulelei
64 Marquis Haynes
65 D.J. Moore
66 James Hearns
67 Josh Sweat
68 Tyler Conklin
69 Michael Gallup
70 Byron Pringle
71 Rasheem Green
72 Anthony Winbush
73 Chandon Sullivan
74 Andrew Brown
75 Shaquem Griffin
76 D.J. Chark
77 Fred Warner
78 Denzel Ward
79 Derrius Guice
80 Christian Sam
81 Mason Rudolph
82 Sam Jones
83 Sam Hubbard
84 Mark Andrews
85 Jerome Baker
86 Derwin James
87 Quadree Henderson
88 Jack Cichy
89 Royce Freeman
90 Scott Quessenberry
91 Nic Shimonek
92 Jeff Holland
93 Riley Ferguson
94 Kyzir White
95 Oren Burks
96 Kemoko Turay
97 Ade Aruna
98 Austin Corbett
99 Matthew Thomas
100 Kamryn Pettway
101 Daron Payne
102 Rod Taylor
103 Joshua Frazier
104 Eddy Wilson
105 Sean Chandler
106 Quenton Meeks
107 Matt Dickerson
108 Ronald Jones
109 Chris Jones
110 Taylor Hearn
111 Jordan Whitehead
112 Tanner Lee
113 Dimitri Flowers
114 Keke Coutee
115 M.J. Stewart
116 K.J. Malone
117 Mike McCray
118 Kc McDermott
119 Sony Michel
120 Jacob Pugh
121 Jamarcus King
122 Derrick Nnadi
123 Carlton Davis
124 Chris Covington
125 James Looney
126 Azeem Victor
127 Marcus Davenport
128 Frank Ragnow
129 James Daniels
130 Austin Allen
131 Natrell Jamerson
132 Billy Price
133 Jordan Lasley
134 Brian Allen
135 Toby Weathersby
136 Uchenna Nwosu
137 Breeland Speaks
138 Connor Williams
139 Marcell Ateman
140 Skai Moore
141 Allen Lazard
142 Zaycoven Henderson
143 Leon Jacobs
144 Terrell Edmunds
145 Will Richardson
146 Will Clapp
147 Jalyn Holmes
148 Coleman Shelton
149 David Bright
150 Peter Kalambayi
151 Kenny Young
152 Martinas Rankin
153 Troy Apke
154 Cole Madison
155 J.C. Jackson
156 Garret Dooley
157 Jessie Bates
158 Nyheim Hines
159 Antonio Callaway
160 Kolton Miller
161 Mike Gesicki
162 Armani Watts
163 Equanimeous St. brown
164 B.J. Hill
165 Chad Thomas
166 Nick Bawden
167 Josh Adams
168 Kamrin Moore
169 Godwin Igwebuike
170 Tarvarus McFadden
171 Ronnie Harrison
172 Dorian O'daniel
173 Trenton Thompson
174 Joseph Noteboom
175 Grant Haley
176 Bo Scarbrough
177 Auden Tate
178 Kentavius Street
179 Korey Robertson
180 Ryan Izzo
181 Javon Wims
182 Brandon Facyson
183 Ryan Nall
184 Jaleel Scott
185 Levi Wallace
186 Hayden Hurst
187 Dylan Cantrell
188 Tyrell Crosby
189 Nick Nelson
190 Tre Flowers
191 Marcus Baugh
192 Holton Hill
193 Sean Welsh
194 Andre Smith
195 Justin Crawford
196 Mason Cole
197 Mike McGlinchey
198 Durham Smythe
199 Taylor Stallworth
200 Damon Webb
201 David Wells
202 Deon Cain
203 Jaire Alexander
204 Shaun dion Hamilton
205 Jordan Wilkins
206 Jaryd Jones-Smith
207 Brett Toth
208 Will Dissly
209 Chukwuma Okorafor
210 Brian O'neill
211 Donte Jackson
212 Roquan Smith
213 Davon Grayson
214 Justin Reid
215 Tremaine Edmunds
216 Rick Leonard
217 Simmie Cobbs
218 Geron Christian
219 Isaiah Oliver
220 John Atkins
221 Anthony Averett
222 Kameron Kelly
223 Jamarco Jones
224 Chase Litton
225 Arden Key
226 Nick Gates
227 Marquez Valdes-Scantling
228 Trey Quinn
229 Tanner Carew
230 Dee Delaney
231 Rashaan Evans
232 Chris Worley
233 Marcell Harris
234 Lavon Coleman
235 Van Smith
236 Cam Phillips
237 Isaac Yiadom
238 Daesean Hamilton
239 Darrel Williams
240 Orlando Brown
241 John Kelly
242 Jarvion Franklin
243 Mark Walton
244 Keishawn Bierria
245 Lorenzo Carter
246 Davin Bellamy
247 Akrum Wadley
248 Josey Jewell
249 Kerryon Johnson
250 Kurt Benkert
251 Chris Lacy
252 Deontay Burnett
253 Jaylen Samuels
254 Dalton Schultz
255 Steven Mitchell
256 Tony Brown
257 Troy Fumagalli
258 Calvin Ridley
259 Stephen Roberts
260 Rashaan Gaulden
261 Robert Foster
262 Dante Pettis
263 Braxton Berrios
264 Marcus Allen
265 Micah Kiser
266 Greg Stroman
267 Jason Cabinda
268 Kyle Hicks
269 Ray-ray McCloud
270 Quin Blanding
271 Kalen Ballage
272 Luke Falk
273 Justin Jackson
274 Eddy Pineiro
275 Drew Brown
276 Trevor Daniel
277 Shane Tripucka
278 Joseph Davidson
279 Michael Dickson
280 Johnny Townsend
281 Ryan Winslow
282 Daniel Carlson
283 Jk Scott

We can also use XGBoost.

In [251]:
XGB = xgb.XGBClassifier(colsample_bytree=0.7,
 eta= 0.001,
 eval_metric= 'mae',
 max_depth= 6,
 min_child_weight= 15,
 objective= 'reg:linear',
 subsample= 0.7)

In [252]:
XGB.fit(train_X, train_y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.7, eta=0.001, eval_metric='mae', gamma=0,
       learning_rate=0.1, max_delta_step=0, max_depth=6,
       min_child_weight=15, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=0.7)

In [261]:
count = 1
for i in pd.DataFrame(XGB.predict_proba(test_X)).sort_values(by=1, ascending=False).index:
    print(str(count) + " " + str(df[df.Year==2018].reset_index().at[i, "Name"]))
    count += 1

1 Mike McGlinchey
2 Saquon Barkley
3 Kolton Miller
4 Terrell Edmunds
5 Troy Apke
6 Justin Reid
7 Harrison Phillips
8 David Bright
9 Jaire Alexander
10 Derwin James
11 D.J. Chark
12 Bradley Chubb
13 Josh Allen
14 Josh Rosen
15 Lamar Jackson
16 Harold Landry
17 Joseph Noteboom
18 Sam Darnold
19 Genard Avery
20 Martinas Rankin
21 Taven Bryan
22 Leighton Vander esch
23 D.J. Moore
24 Dane Cruikshank
25 Frank Ragnow
26 Riley Ferguson
27 Duke Ejiofor
28 Malik Jefferson
29 Quenton Meeks
30 Marcus Davenport
31 Denzel Ward
32 Michael Gallup
33 Rick Leonard
34 Sam Hubbard
35 Courtland Sutton
36 B.J. Hill
37 Marquis Haynes
38 Avonte Maddox
39 Minkah Fitzpatrick
40 Jojo Wicker
41 Anthony Averett
42 Brian O'neill
43 Tyquan Lewis
44 Justin Jones
45 Matthew Thomas
46 Wyatt Teller
47 Rod Taylor
48 Mike Gesicki
49 Josh Jackson
50 Scott Quessenberry
51 Kylie Fitts
52 Keke Coutee
53 Shaquem Griffin
54 Will Richardson
55 Oren Burks
56 Godwin Igwebuike
57 Isaiah Wynn
58 Chase Litton
59 Joshua Kalu
60 Cole Madison
61 Tyrell Crosby
62 Josh Sweat
63 Daron Payne
64 Quenton Nelson
65 Lowell Lotulelei
66 Jessie Bates
67 Fred Warner
68 Nyheim Hines
69 Rasheem Green
70 Peter Kalambayi
71 Antonio Callaway
72 Roquan Smith
73 Deon Cain
74 Parry Nickerson
75 Andre Chachere
76 Braden Smith
77 Vita Vea
78 Arden Key
79 Deshon Elliott
80 Natrell Jamerson
81 Tremaine Edmunds
82 Calvin Ridley
83 Donte Jackson
84 Bo Scarbrough
85 James Hearns
86 Jordan Whitehead
87 Andrew Brown
88 Trevon Young
89 Colby Gossett
90 Christian Kirk
91 Dylan Cantrell
92 Deadrin Senat
93 Jerome Baker
94 Darius Phillips
95 Allen Lazard
96 Ryan Nall
97 Connor Williams
98 Tarvarus McFadden
99 Kemoko Turay
100 Kendrick Norton
101 Cedrick Wilson
102 Nick Nelson
103 Quinton Flowers
104 Isaiah Oliver
105 Mike Hughes
106 Chukwuma Okorafor
107 Chandon Sullivan
108 Equanimeous St. brown
109 Jester Weah
110 Lorenzo Carter
111 Kc McDermott
112 Marcus Allen
113 Carlton Davis
114 Leon Jacobs
115 Dorian O'daniel
116 Ronnie Harrison
117 Salesi Uhatafe
118 Mason Rudolph
119 Tony Brown
120 Derrius Guice
121 Luke Falk
122 Anthony Winbush
123 Logan Woodside
124 Micah Kiser
125 Jack Cichy
126 Kyzir White
127 Rashaad Penny
128 Eddy Wilson
129 Jacob Pugh
130 Toby Weathersby
131 Will Clapp
132 Jordan Akins
133 Brett Toth
134 M.J. Stewart
135 Jamarcus King
136 Hercules Mata'afa
137 Will Hernandez
138 Byron Pringle
139 Duke Dawson
140 Ronald Jones
141 Nick Gates
142 Jeff Holland
143 Matt Dickerson
144 Ogbonnia Okoronkwo
145 Tegray Scales
146 Anthony Miller
147 D.J. Reed
148 Tim Settle
149 J.C. Jackson
150 Billy Price
151 Ade Aruna
152 Jordan Thomas
153 Ian Thomas
154 Mason Cole
155 Korey Robertson
156 Holton Hill
157 Marcell Harris
158 Daesean Hamilton
159 Jaryd Jones-Smith
160 Justin Jackson
161 Mike McCray
162 Kurt Benkert
163 Simmie Cobbs
164 Andre Smith
165 Garret Dooley
166 Grant Haley
167 Dee Delaney
168 Deontay Burnett
169 K.J. Malone
170 J.T. Barrett
171 Armani Watts
172 Jalyn Holmes
173 Tre Flowers
174 Marquez Valdes-Scantling
175 Kerryon Johnson
176 Kamryn Pettway
177 Nick Bawden
178 Mark Andrews
179 Hayden Hurst
180 Nick Chubb
181 Austin Corbett
182 Orlando Brown
183 Trenton Thompson
184 Rashard Fant
185 Baker Mayfield
186 Tanner Lee
187 Sean Chandler
188 Davon Grayson
189 Uchenna Nwosu
190 Marcell Ateman
191 Breeland Speaks
192 Keishawn Bierria
193 Royce Freeman
194 Derrick Nnadi
195 James Daniels
196 Greg Stroman
197 James Looney
198 Dalton Schultz
199 Sam Jones
200 Skai Moore
201 Kenny Young
202 Dante Pettis
203 Chris Jones
204 Sony Michel
205 Rashaan Evans
206 Troy Fumagalli
207 Taylor Hearn
208 Chad Thomas
209 Quadree Henderson
210 John Kelly
211 Jordan Lasley
212 Zaycoven Henderson
213 Brandon Facyson
214 Joshua Frazier
215 Kalen Ballage
216 Trey Quinn
217 Trevor Daniel
218 James Washington
219 Geron Christian
220 Josh Adams
221 Quin Blanding
222 John Atkins
223 Jaylen Samuels
224 Christian Sam
225 Josey Jewell
226 Jaleel Scott
227 Dominick Sanders
228 Mark Walton
229 Cam Phillips
230 Javon Wims
231 Nic Shimonek
232 Jordan Wilkins
233 Auden Tate
234 Tyler Conklin
235 Jason Cabinda
236 Kentavius Street
237 Rashaan Gaulden
238 Damon Webb
239 Joseph Davidson
240 Kamrin Moore
241 Levi Wallace
242 Taylor Stallworth
243 Jamarco Jones
244 Isaac Yiadom
245 Robert Foster
246 Jarvion Franklin
247 David Wells
248 Justin Crawford
249 Coleman Shelton
250 Braxton Berrios
251 Shaun dion Hamilton
252 Chris Lacy
253 Chris Covington
254 Azeem Victor
255 Danny Etling
256 Kameron Kelly
257 Stephen Roberts
258 Durham Smythe
259 Dimitri Flowers
260 Daniel Carlson
261 Akrum Wadley
262 Chris Worley
263 Will Dissly
264 Ray-ray McCloud
265 Van Smith
266 Davin Bellamy
267 Sean Welsh
268 Brian Allen
269 Ryan Izzo
270 Marcus Baugh
271 Lavon Coleman
272 Steven Mitchell
273 Eddy Pineiro
274 Shane Tripucka
275 Michael Dickson
276 Tanner Carew
277 Austin Allen
278 Jk Scott
279 Ryan Winslow
280 Drew Brown
281 Darrel Williams
282 Kyle Hicks
283 Johnny Townsend